#####################################################################
# Heated Bed
#####################################################################

[heater_bed]
heater_pin: PA0
sensor_pin: PB1
sensor_type: ATC Semitec 104GT-2
min_temp: 0
max_temp: 120
max_power: 1.0

control: pid
pid_kp: 55.720
pid_ki: 2.351
pid_kd: 330.142


#####################################################################
# Bed Mesh
#####################################################################

[bed_mesh]
zero_reference_position: 175, 175
speed: 200
horizontal_move_z: 3
mesh_min: 30, 30
mesh_max: 320, 320
probe_count: 25, 25
adaptive_margin: 10
mesh_pps: 0, 0




#####################################################################
# Quad Gantry Level
#####################################################################

[quad_gantry_level]
gantry_corners:
    -60, -10
    410, 420

points:
    50, 25
    50, 275
    300, 275
    300, 25

speed: 400
horizontal_move_z: 4
retries: 10
retry_tolerance: 0.01
max_adjust: 15


#####################################################################
# Axis Twist Compensation
#####################################################################

[axis_twist_compensation]
calibrate_start_x: 30
calibrate_end_x: 320
calibrate_y: 175

