#[mcu dinghy]
#serial: /dev/serial/by-id/usb-Klipper_stm32f072xb_19002D000157484837393120-if00


#[temperature_sensor f0]
#sensor_type: BME280
#i2c_address:
#   Default is 118 (0x76). The BMP180, BMP388 and some BME280 sensors
#   have an address of 119 (0x77).
#i2c_mcu: dinghy
#i2c_bus: spi1

#[temperature_sensor f1]
#sensor_type: BME280
#i2c_software_scl_pin: dinghy:PB2
#i2c_software_sda_pin: dinghy:PB3

#[temperature_sensor th0]
#sensor_type: Generic 3950
#pullup_resistor: 2200
#sensor_pin: dinghy:PA0

#[temperature_sensor th1]
#sensor_type: Generic 3950
#pullup_resistor: 2200
#sensor_pin: dinghy:PA1

#[temperature_sensor th2]
#sensor_type: Generic 3950
#pullup_resistor: 2200
#sensor_pin: dinghy:PA2

#[temperature_sensor th3]
#sensor_type: Generic 3950
#pullup_resistor: 2200
#sensor_pin: dinghy:PA3

#[temperature_sensor th4]
#sensor_type: PT1000
#pullup_resistor: 2200
#sensor_pin: dinghy:PB0

#[temperature_sensor th5]
#sensor_type: ATC Semitec 104NT-4-R025H42G
#pullup_resistor: 2200
#sensor_pin: dinghy:PA5

#[temperature_sensor th6]
#sensor_type: Generic 3950
#pullup_resistor: 2200
#sensor_pin: dinghy:PA6

#[temperature_sensor th7]
#sensor_type: Generic 3950
#pullup_resistor: 2200
#sensor_pin: dinghy:PA7

#[temperature_sensor th8]
#sensor_type: Generic 3950
#pullup_resistor: 2200
#sensor_pin: dinghy:PB1


#[neopixel rgb0]
#pin: dinghy:PB10
#color_order: GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRBW
#chain_count: 9
#initial_red: 0.1
#initial_green: 0
#initial_blue: 0
#initial_white: 0.1

#[neopixel rgb1]
#pin: dinghy:PB11
#color_order: GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRBW
#chain_count: 9
#initial_red: 0.1
#initial_green: 0
#initial_blue: 0
#initial_white: 0.1

#[neopixel rgb2]
#pin: dinghy:PB12
#color_order: GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRBW
#chain_count: 9
#initial_red: 0.1
#initial_green: 0
#initial_blue: 0
#initial_white: 0.1

#[neopixel rgb3]
#pin: dinghy:PB13
#color_order: GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRBW
#chain_count: 9
#initial_red: 0.1
#initial_green: 0
#initial_blue: 0
#initial_white: 0.1

