#####################################################################
# Fans
#####################################################################


[multi_pin part_cooling_fans]
pins: PA4, PA3

[fan]
pin: multi_pin:part_cooling_fans
hardware_pwm: false
max_power: 1.0

[heater_fan hotend_fan]
pin: PA5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
tachometer_pin: ^EBBCan:PA4

[multi_pin tmc_fans]
pins: PF9, PF7

[controller_fan TMC_fan]
pin: multi_pin:tmc_fans
fan_speed: 1.0
idle_speed: 1.0
idle_timeout: 60
stepper: stepper_x, stepper_x1, stepper_y, stepper_y1, stepper_z, stepper_z1, stepper_z2, stepper_z3

[output_pin bedfans]
pin: PA6
value: 0
shutdown_value: 0

#[fan_generic fan0]
#pin: dinghy:PA8
#tachometer_pin: dinghy:PC13

#[fan_generic fan1]
#pin: dinghy:PB4
#tachometer_pin: dinghy:PC14

[fan_generic fan2]
pin: dinghy:PA4
tachometer_pin: dinghy:PC15
tachometer_ppr: 2
tachometer_poll_interval: 0.001
cycle_time: 0.00004
hardware_pwm: true


[fan_generic fan3]
pin: dinghy:PB14
tachometer_pin: dinghy:PB15